# Datos ficticios para este entorno local. No utilizar en un despliegue real.
POSTGRES_USER=sigfq
POSTGRES_PASSWORD=postgres_local_sigfq
POSTGRES_DB=sigfq
POSTGRES_PORT=5433
API_PORT=8000
WEB_PORT=5173
DEMO_PASSWORD=Local-SIGFQ-2026!
SESSION_MINUTES=60

